/* This file contains comments for learning purposes, which will be removed in a finale version */

*{  /*default for all objects*/
    margin:0px;
    padding:0px;
    box-sizing:border-box;

}
body {
	font-family: 'Poppins' , sans-serif;
}
button{
    font-family: 'Poppins' , sans-serif;
}
header {
    display: flex; /*flexible distribution of space for the childs*/
    height: 15vh;  /* means 10% of the viewport height*/
    width: 80%;
    margin: auto;          /* makes the header use x% of width and centralizes it*/
    align-items: center /* centers box around items + items in the center*/
}

.logo-container,.nav-links, .cart{
    display: flex; /*put objects next to each other (horizontal)*/

}

.logo-container{
    /*background: lightblue;*/   /*backgound can be helpfull to see wahts going on*/
    flex: 1;
}
.logo-container img{
    height: 6vh;
}
.logo{
    font-weight: 400;
    margin 5px;
}
nav{
    flex:2;
   /* background: rgb(100,100,20);*/
}
.nav-links{
    justify-content: space-around; /*distribute content of box*/
    list-style: none; /*remove dots before elements*/
}
.nav-link{
    color: green;
    text-decoration: none;
}
.cart{
    flex: 1;
    /*background: rgb(110,30,10);*/
    justify-content: flex-end;

}
.cart img{
    height: 6vh;
}
.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.introduction{
    flex: 1;
}
.intro-text{
    font-size: 40px;
    font-weight: 500;
    background: linear-gradient(to right, #494969, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* background collor fills the text now (with gradient colot)*/
}
.intro-text p{
    margin-top: 5px;
    font-size: 20px;
    color: #585772;
}
.cta{
    padding:50px 0px 0px 0px; /*top,right,bottom,left*/
}
.cta-select{
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}
.cta-add{
    background: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    border: none;
    /*padding: 20px 0px 0px 20px;*/
}
.cover{
    flex: 1;
}
/*
.cover img {
    height: 60vh;
    filter: drop-shadow(0px 5px 3px black);
}*/
.bigPic{
    position: absolute;
    top: 1%;
    right: 1%;
    z-index: -1;
    opacity: 0.3;
    height: 25%;
}
/*
.mediumPic{
    position: absolute;
    top: 15%;
    right: 85%;
    z-index: -1;
    opacity: 0.20;
    height: 20%;
}*/
.smallPic{
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: -1;
    opacity: 0.12;
    height: 110%;
}

/* Style all font awesome icons */
.fa {
  padding: 20px ;
  font-size: 100%;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  position: absolute;
  bottom: 3%;
  right: 3%;
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  position: absolute;
  bottom: 3%;
  right: 8%;
  background: #55ACEE;
  color: white;
}